/* ~~~~~~ GLOBAL ~~~~~~ */
.rowStyle {
    display: flex;
    flex-direction: row;
}

.containter {
    justify-self: flex-start;
}

/* ~~~~~~ PORTRAIT LIST ~~~~~~ */

.allPortraitsList {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
}

.allPortraitsList li {
    margin: 10px 25px;
    min-width: 200px;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1vw;
    display: flex;

}

.allPortraitsList li p {
    color: black;
    text-align: center;
    margin-top: 420px;
}

.inactivePortraitsList {
    overflow-x: visible;
    overflow-y: scroll;
    mask-image: linear-gradient(to left, transparent 0%, black 50px, black calc(100% - 50px), transparent 100%);
    width: 100%;
    height: 22vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    cursor: grab;
}

.inactivePortraitsList::-webkit-scrollbar {
    display: none;
}

.inactivePortraitsList li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 15vh;
    width: 40vw;
    margin: 0 25px;
}

.inactivePortraitsList li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.pcaption {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

/* ~~~~~~ CONTENT ~~~~~~ */

.allContent {
    padding: 10px 10px;
    /* max-height: 62vh; */
    scrollbar-width: thin;
    flex-direction: column;
}

.postMetaData {
    /* background-color: gold; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}

.postMetaData h1 {
    padding-bottom: -1rem;
    padding-top: 1.5rem;
}

.postContentContainer {
    padding: 0 15vw;
}

.postContentContainer p {
    text-align: justify;
}

.postContentContainer figure {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

.postContentContainer br {
    float: inline-start;
}

.activePortrait {
    height: 50vh;
    width: 50vw;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.fig-align-right {
    float: right;
    margin-right: 0px;
}

.fig-align-left {
    float: left;
    margin-left: 0px;
}

.postContentContainer figure {
    display: table;
}

.postContentContainer img {
    max-width: 300px;
}

.postContentContainer figcaption {
    display: table-caption;
    caption-side: bottom;
}

@media (max-width: 1024px) {
    .inactivePortraitsList {
        height: 25vh;
    }

    .inactivePortraitsList li {
        height: 22vh;
    }

    .postMetaData,
    .postContentContainer {
        padding: 0px 10vw;
    }

    .postContentContainer figure {
        margin: 1em 0px;
        float: inline-start;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

/* ~~~~~~ QUOTE ~~~~~~ */

.postContentContainer blockquote {
    max-width: 95%;
    min-width: 25%;
    margin: 50px auto;
    font-style: italic;
    color: black;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid rgba(222, 184, 135);
    line-height: 1.6;
    position: relative;
    background: rgba(255, 255, 255, 0.65);
    overflow: auto;
}

.postContentContainer blockquote::before {
    content: "\201C";
    color: rgba(222, 184, 135);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.postContentContainer blockquote::after {
    content: '';
}

@media (max-width: 1024px) {
    .postContentContainer blockquote {
        padding: 1.2em 30px;
        max-width: 100%;
    }

}