/* ~~~~~~ GLOBAL ~~~~~~ */
.rowStyle {
    display: flex;
    flex-direction: row;
}

.containter {
    justify-self: flex-start;
}

/* ~~~~~~ PORTRAIT LIST ~~~~~~ */

.allPortraitsList {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 65vh;
}

.allPortraitsList li {
    margin: 25px;
    /* min-width: 200px; */
    width: 30vh;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1vw;
    display: flex;
    background-color: #e3cab4;
}

.inactivePortraitsList {
    overflow-x: visible;
    overflow-y: scroll;
    mask-image: linear-gradient(to left, transparent 0%, #3f3831 50px, #3f3831 calc(100% - 50px), transparent 100%);
    width: 100vw;
    height: 30vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    justify-content: center;
}

.inactivePortraitsList::-webkit-scrollbar {
    display: none;
}

.inactivePortraitsList li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 56, 49, 0.75);
    background-blend-mode: multiply;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 25vh;
    width: 25vh;
    /* margin: 0 25px; */
    padding: 0 20px;
    text-align: center;
}

.inactivePortraitsList li:hover {
    background-color: rgba(63, 56, 49, 0.5);
}

/* ~~~~~~ CONTENT ~~~~~~ */

.allContent {
    padding: 10px 10px;
    /* max-height: 62vh; */
    scrollbar-width: thin;
    flex-direction: column;
}

.activePortrait {
    height: 50vh;
    width: 50vw;
    align-self: center;
    box-shadow: rgba(196, 159, 125, 0.75) 0px 25px 50px -12px;
}

.pcaption {
    color: #3f3831;
    text-align: center;
    margin-top: 30vh;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

.postMetaData {
    /* background-color: gold; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}

.postMetaData p, .postMetaData h1 {
    margin: 0;
}

.postContentContainer {
    padding: 0 15vw;
}

.postContentContainer p {
    text-align: justify;
}

.postContentContainer figure {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

.postContentContainer br {
    float: inline-start;
}

.postContentContainer figure {
    display: table;
}

/* .postContentContainer img {
    max-width: 300px;
} */

.postContentContainer figcaption {
    display: table-caption;
    caption-side: bottom;
}

@media (max-width: 1024px) {
    .inactivePortraitsList {
        height: 25vh;
    }

    .inactivePortraitsList li {
        height: 24vh;
    }

    .activePortrait {
        max-height: 30vh;
    }

    .postMetaData h1{
        margin-top: 70px;
        margin-bottom: 0;
        padding: 0;
    }
    .postMetaData,
    .postContentContainer {
        padding: 0px 5vw;
    }

    .pcaption {
        margin: 0;
    }

    .allPortraitsList li p {
        margin-top: 31vh;
    }

    .postContentContainer figure {
        margin: 1em 0px;
        float: inline-start;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

/* ~~~~~~ QUOTE ~~~~~~ */

.postContentContainer blockquote {
    max-width: 95%;
    min-width: 25%;
    margin: 50px auto;
    font-style: italic;
    color: #3f3831;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #c49f7d;
    line-height: 1.6;
    position: relative;
    background: rgba(255, 255, 255, 0.65);
    overflow: hidden;
}

.postContentContainer blockquote::before {
    content: "\201C";
    color: #c49f7d;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.postContentContainer blockquote::after {
    content: '';
}

@media (max-width: 1024px) {
    .postContentContainer blockquote {
        padding: 1.2em 30px;
        max-width: 100%;
    }

}

/* ~~~~~~ CITATION SECTION ~~~~~~ */

.citationContainer {
    margin-top: 50px;
    color: #b95e33;
    text-align: left;
}

/* ~~~~~~ SCROLL TO TOP BTN ~~~~~~ */

.scrollTopbtn {
    display: flex;
    cursor: pointer;
    background-color: #c49f7d;
    /* border: #c49f7d solid 2px; */
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 5vw;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    z-index: 1000;
    justify-items: center;
    align-items: center;
    opacity: 0.7
}

.toHide {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1024px) {
    .scrollTopbtn {
        right:0px;
    }
}
@media (min-width: 500px) {
    .scrollTopbtn {
        margin: 30px;
    }
}
