.container {
    width: 90vw;
    height: 50vh;
    display: flex;
    padding: 5vw;
    margin: 1vh;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 2000px rgba(241, 228, 213, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(241, 228, 213);
    color: #3f3831;
    border: 10px solid #3f3831;
    transition: 0.2s linear;
}

.container:hover {
    box-shadow: inset 0 0 0 2000px rgba(241, 228, 213, 0.5);
}

.container h2 {
    padding: 2vw;
    margin-left: 2vw;
    border-left: 5px solid #c49f7d;
    z-index: 4;
}

.atLeft {
    flex-direction: row-reverse;
    box-shadow: inset 0 0 0 2000px rgba(63, 56, 49, 0.75);
    color: #f1e4d5;
    background-color: rgb(63, 56, 49);
}

.atLeft:hover {
    box-shadow: inset 0 0 0 2000px rgba(63, 56, 49, 0.5);
}

.container div {
    width: 50%;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .container div {
        width: 100%;
    }

    .atLeft {
        flex-direction: column-reverse;
    }
}