/* ~~~~~~~~~~~~~~~~~~~~~
~~~~~~~ SPLASH ~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~*/
.title {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Alex Brush', cursive;
    font-size: 20vw;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0.1vw;
    transform: scale(0.9, 1);
    width: 50vw;
    text-shadow: 0 0 15px rgba(63, 56, 49, 0.5);
}

.titledesc {
    padding-left: 10vw;
    padding-top: 5vh;
    text-align: left;
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'Alex Brush', cursive;
    text-shadow: 0 0 5px rgba(63, 56, 49, 0.5);
}

.descriptions {
    padding: 5vh 5vw;
    margin-right: 50%;
}

.description {
    padding:0;
    margin: 0;
    color: #c49f7d;
}

.image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50vh;
    height: 90vh;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.image div {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
}


.pageview {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~
~~~~~~~ FILTER ~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~*/

.previewContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 65vh;
}

/* ~~~~~~ DROPDOWN ~~~~~~ */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 15vw;
    margin: 3vw;
    text-transform: capitalize;
}

.dropbtn {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.dropbtn p {
    flex: 1;
}

.dropbtn img {
    width: 20px;
    height: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    width: 15vw;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

/* Change color of dropdown links on hover */
.dropdownContent p:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    cursor: auto;
}

/*~~~~~~~ ARTICLES ~~~~~~ */

.articles {
    display: grid;
    grid-template-columns: 50vw 50vw 50vw;
    column-gap: 3vw;
    row-gap: 3vw;
    justify-content: center;
}


@media (max-width: 820px) {
    /* ~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~ SPLASH ~~~~~~ 
    ~~~~~~~~~~~~~~~~~~~~~*/

    .pageview{
        height: 100vh;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    
    .titledesc,
    .title {
        padding: 0;
        margin: 10px 0;
        text-align: center;
        width: 100vw;
        line-height: 10vw;
    }

    .image {
        position: relative;
        margin: 0;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
        width: 90vw;
        height: auto;
        align-self: center;
    }

    .image div {
        position: relative;
        left: 50%;
        
        transform: translate(-50%, 0);
    }

    .descriptions {
        padding: 0 0;
        margin: 50px;
        text-align: center;
    }
}

@media (max-width: 300px) {
    .descriptions {
        margin:0;
        padding: 10px 0;
        text-align: center;
    }
}

@media (min-width: 1240px) {
    /* ~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~ SPLASH ~~~~~~ 
    ~~~~~~~~~~~~~~~~~~~~~*/
    .image {
        width: 50vw;
        height: 90vh;
    }
}